<% provide :title, "Update Profile" %>

<div class="logo" style="margin-top:-40px;"></div>

<div class="row">
  <div class="span6 offset3">
<%= gravatar_for @user %>
<a href="http://gravatar.com/emails" class="btn btn-success" style="margin-top:50px;">Change</a><br/><br/>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= f.input :full_name, :autofocus => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :discipline, :autofocus => true %>
  <%= f.input :graduated, :autofocus => true if @user.graduated %>
  <%= f.input :website, :autofocus => true %>
  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
  <%= f.button :submit, 'Save changes', :class => 'btn btn-success btn-large' %>
<% end %>
 </div>
</div>

