<%= simple_form_for user, :as => 'user', :url => registration_path('user') , :html => {:class => 'form-inline form-horizontal' }, remote: true do |f| %>
  <%= f.input :group_id, as: :hidden, input_html: { value: group.id } -%>
  <%= f.input :full_name, required: true -%>
  <%= f.input :email, required: true -%>
  <%= f.input :discipline, required: true -%>
  <%= f.input :school, required: true -%>
  <%= f.input :school_major, required: true -%>
  <%= f.input :graduated, as: :radio_buttons, required: true -%>
  <%= f.input :website, required: false -%>

  <div class='control-group string optional'>
    <label class='string required control-label'></label>
    <div class='controls'>
     <p style="font-size:12px;">By joining together as a group we can make a big impact.<br /> The more we grow the more possibilities we have to do something amazing. </p>
      <%= f.submit 'Apply to Sprout', class: 'btn btn-success btn-large', style: 'width: 360px;' -%> 
    </div>
  </div>
<%- end -%>
